// to override button-variant
@mixin bonbids-button($color, $background, $border) {
    color: $color;
    background-color: $background;
    border: none;
    // border-color: $border;
    box-shadow: 1px 1px 2px rgba(black, .3);
    font-weight: 300;
    @include gradient-vertical(lighten($background, 7), darken($background, 7));
    
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 10%);
        border-color: transparent; // darken($border, 12%);
        @include gradient-vertical(lighten($background, 14%), $background);
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            opacity: .3;
            // background-color: $background;
            // border-color: transparent; // $border;
        }
    }
    
    .badge {
        color: $background;
        background-color: $color;
    }
}

.btn-default    { @include bonbids-button($btn-default-color,   $btn-default-bg,    $btn-default-border); }
.btn-primary    { @include bonbids-button($btn-primary-color,   $btn-primary-bg,    $btn-primary-border); }
.btn-success    { @include bonbids-button($btn-success-color,   $btn-success-bg,    $btn-success-border); }
.btn-info       { @include bonbids-button($btn-info-color,      $btn-info-bg,       $btn-info-border); }
.btn-warning    { @include bonbids-button($btn-warning-color,   $btn-warning-bg,    $btn-warning-border); }
.btn-danger     { @include bonbids-button($btn-danger-color,    $btn-danger-bg,     $btn-danger-border); }
.btn-facebook   { @include bonbids-button(white,                #3b5998,            darken(#3b5998, 5%)); }
.btn-twitter    { @include bonbids-button($text-color,          #eee,               darken(#eee, 5%)); }
.btn-robobid    { @include bonbids-button(white,                $brand-robobid,     darken($brand-robobid, 5%)); }

// account for lack of borders
.btn {
    @include button-size($padding-base-vertical + 1, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
}
.btn-lg {
  @include button-size($padding-large-vertical + 1, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
  padding-bottom: $padding-large-vertical + 2;
}
.btn-sm {
  @include button-size($padding-small-vertical + 1, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical + 1, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-img {
    margin-right: 5px;
    vertical-align: -3px;
}