.auction-item-card {
    border-radius: 0;
    margin-bottom: 30px;
    padding: 0;
    position: relative;

    > a {
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: #f5f5f5;
        }
    }
}

@mixin item-status-ribbon($name: 'pre') {
    $bg: 'ribbon-#{$name}-bg.png';
    $left: 'ribbon-#{$name}-left.png';
    $right: 'ribbon-#{$name}-right.png';

    background-image: inline-image($bg);

    &::before { background-image: inline-image($left); }
    &::after  { background-image: inline-image($right); }
}

.auction-item-status {
    background: repeat-x;
    background-size: auto 45px;
    color: white;
    font-size: 20px;
    height: 45px;
    left: 0;
    line-height: 43px;
    padding: 0 15px;
    position: absolute;
    text-shadow: 0 1px 2px rgba(black, .2);
    text-transform: uppercase;
    top: 10px;
    z-index: 1;

    &::before {
        background: no-repeat top right;
        background-size: auto 46px;
        content: ' ';
        height: 46px;
        position: absolute;
        right: 100%;
        top: 0;
        width: 8px;
    }

    &::after {
        background: no-repeat top left;
        background-size: auto 45px;
        content: ' ';
        height: 45px;
        left: 100%;
        position: absolute;
        top: 0;
        width: 15px;
    }

    &.status-pre  { @include item-status-ribbon('pre'); }
    &.status-live { @include item-status-ribbon('live'); }
    &.status-sold { @include item-status-ribbon('sold'); }
}

.auction-item-image-block {
    overflow: hidden;
    padding-top: 62.5%;
    position: relative;
    width: 100%;
}

.auction-item-image {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.auction-item-title {
    margin: 10px;
}

.auction-item-description {
    color: $text-muted;
    font-size: $font-size-small;
}

.auction-item-action {
    background-color: #fbfbfb;
    border: 1px solid #d8d8d8;
    border-radius: 0;
    border-width: 1px 0;
    box-shadow: none;
    margin-bottom: 0;
    padding: 10px 10px 10px 20px;
    position: relative;

    &::before {
        background: inline-image('ribbon-plain-left.png') no-repeat top right;
        background-size: contain;
        content: ' ';
        height: 76px;
        position: absolute;
        right: 100%;
        top: 0;
        width: 10px;
    }
}

.auction-item-consolation {
    margin: 0;
}

.auction-item-consolation-title {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}

.auction-item-consolation-description {
    @extend .auction-item-description;
    font-size: 13px;
    padding-right: 10px;

    p {
        margin: 0;
    }
}