.img-bleed {
    margin-top: -22px;

    .listing-title {
        font-size: 22px;
        text-align: center;
    }
}

.form-heading {
    color: $text-muted;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
}

.bid-count {
    color: $brand-info;
    font-weight: bold;
}

.listing-title {
    color: $brand-info;
    font-weight: normal;
    text-transform: uppercase;
}

@mixin timer-colors($color, $text-color: nil) {
    @if $text-color == nil {
        $text-color: $color;
    }

    .form-control {
        border-left-color: $color;
        color: $text-color;
    }

    .input-group-addon {
        background-color: $color;
        border-color: $color;
    }
}

.robobidder-form {
    .form-control {
        font-size: xx-large;
        font-weight: bold;
    }

    .input-group-addon {
        font-size: x-large;
        padding-left: 5px;
        padding-right: 5px;
    }

    .checkbox {
        border: 1px solid $gray-lighter;
        border-width: 1px 0;
        color: $brand-primary;
        margin: 20px 0;
        padding: 10px 0;

        label {
            padding-left: 35px;
        }

        input {
            font-size: large;
            margin-left: -25px;
        }
    }

    @media (max-width: $screen-sm-max) {
        .form-control {
            font-size: x-large;
        }
    }
}

.listing-timer {
    background: none;

    .form-control {
        background: none;
        box-shadow: none;
        cursor: default;
        font-size: xx-large;
        font-weight: bold;
        pointer-events: none;
        text-align: center;
    }

    .input-group-addon {
        color: white;
        font-size: x-large;
        padding-left: 5px;
        padding-right: 5px;
    }

    &.is-green  { @include timer-colors($brand-success); }
    &.is-yellow { @include timer-colors($brand-warning, $text-color); }
    &.is-red    { @include timer-colors($brand-danger); }

    @media (max-width: $screen-sm-max) {
        .form-control {
            font-size: x-large;
        }
    }
}

.listing-bid-info {
    font-size: larger;

    span {
        white-space: nowrap;
    }
}

.listing-action-btn {
    font-size: 25px;
    line-height: 1;

    small {
        display: block;
        font-size: 15px;
        line-height: 25px;
    }

    @media (max-width: $screen-sm-max) {
        font-size: 20px;
        line-height: 25px;

        small {
            font-size: 12px;
        }
    }
}

.consolation-image {
    margin-right: 10px;
}

.consolation-title {
    color: $brand-primary;
    font-weight: normal;
    text-transform: uppercase;
}

.bidding-history {
    color: $gray-light;
    font-size: 1.125em;

    .panel-heading {
        color: $gray-light;
    }

    .list-group-item {
        background-color: #f5f5f5;
    }

    .badge {
        background: none;
        color: $text-color;
        font-size: 1em;
        margin-top: .25em;
        padding: 0;
    }
}