.thankyou-box {
    background: #f5f5f5 image-url('bonbids-watermark.png') no-repeat center;
    background-size: contain;
    box-shadow: 1px 1px 2px rgba(black, .3);
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-top: 40px;

    h1 {
        color: $brand-primary;
        font-family: 'Baskerville', Georgia, serif;
        font-size: 3.5em;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 3px;
    }
}

.thankyou-raised {
    border: 1px solid;
    border-width: 1px 0;
    color: $text-muted;
    font-size: x-large;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px 0;

    .figure-label {
        display: block;
        float: left;
        margin-top: .75em;
    }

    .figure {
        color: $brand-success;
        float: right;
        font-size: 2em;
    }
}

.thankyou-ticker {
    box-shadow: 1px 1px 2px rgba(black, .3);
    color: black;
    margin-bottom: 45px;
    margin-top: 5px;
    padding: 5px 10px;
    text-align: center;

    > :first-child {
        color: white;
    }

    strong {
        margin-right: 10px;
    }
}