$gray-lighter:  #ddd; // e.g., hr-border

$brand-danger:  #f0000e;
$brand-info:    #5e0042;
$brand-primary: #075b89;
$brand-success: #89b535;
$brand-warning: #ffc955;
$brand-robobid: #159478;

$text-color:    #555;
$text-muted:    #999;

$font-size-base: 16px;

// $navbar-height:             75px;
$navbar-inverse-color:      white;
$navbar-inverse-bg:         $brand-primary;
$navbar-inverse-link-color: mix($brand-primary, white, 20%);

$alert-padding:         4px;
                        
$alert-success-bg:      $brand-success;
$alert-success-text:    white;
$alert-success-border:  transparent;
                        
$alert-info-bg:         $brand-info;
$alert-info-text:       white;
$alert-info-border:     transparent;
                        
$alert-warning-bg:      $brand-warning;
$alert-warning-text:    $brand-primary;
$alert-warning-border:  transparent;
                        
$alert-danger-bg:       $brand-danger;
$alert-danger-text:     white;
$alert-danger-border:   transparent;