.win-nice-try {
    color: $text-muted;
    font-size: 24px;
    margin-bottom: 10px;

    &::before {
        border-top: 2px solid $hr-border;
        content: ' ';
        display: block;
        position: relative;
        top: .75em;
    }

    span {
        background-color: white;
        padding: 0 .5em;
        position: relative;
    }
}

.win-you-won {
    color: $brand-success;
    font-size: 75px;
    margin-top: 0;
    text-transform: uppercase;
}

.win-still-won {
    color: $brand-success;
    font-size: 48px;
    margin-top: 0;
    text-transform: uppercase
}

.win-item-title {
    color: lighten($brand-info, 15);
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.win-congrats {
    color: $brand-success;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}

.img-win-ct {
    overflow: hidden;
    padding-top: 70%;
    position: relative;

    img {
        height: 98.5%;
        left: .5%;
        position: absolute;
        top: .5%;
        width: 96%;
    }

    &::after {
        background: image-url('winning-gift-ribbon.png') no-repeat right top;
        background-size: cover;
        content: ' ';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}