@import 'variables';

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import 'alerts';
@import 'buttons';
@import 'cards';
@import 'listing';
@import 'thankyou';
@import 'win';

.navbar-brand {
    padding: 10px 15px;

    @media (min-width: $screen-md-min) {
        padding: 5px 15px;
    }
}

.bonbids-logo {
    height: 100%;
    width: auto;
}

.page-title {
    color: $brand-primary;
    font-weight: normal;
    margin: 30px 0;
}

.space-above {
    margin-top: 30px;
}

.space-below {
    margin-bottom: 30px;
}

hr {
    border-width: 2px 0 0;
}

.hr-compact {
    margin: 10px 0;
}

.share-buttons {
    .btn + .btn {
        margin-left: 1em;
    }
}

.page-footer {
    background-color: $brand-primary;
    color: mix(desaturate($brand-primary, 20), white);
    padding: 15px;

    a {
        color: white;
        margin-right: 20px;
    }
}

.well > :first-child {
    margin-top: 10px;
}